@model ozowebapp.Models.ArhivaNatjecajViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2 style="margin-top:50px;">Arhiva natječaja</h2>

<h4>Uredi:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArhivaNatjecajClassID" />
            <div class="form-group">
                <label asp-for="Pobjednik" class="control-label"></label>
                <input asp-for="Pobjednik" class="form-control" />
                <span asp-validation-for="Pobjednik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zakljucak" class="control-label"></label>
                <input asp-for="Zakljucak" class="form-control" />
                <span asp-validation-for="Zakljucak" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Spremi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na popis</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
