@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 50px;">OZO</h1>
    <p style="font-size:20px;">Početna stranica <b>OZO</b> Web aplikacije. Izradili: Anton Viskić, Ivan Bošnjak, Filip Hrkać i Matej Rakić.</p>
</div>
